<nav class="bg-slate-100 flex space-bet t-center shadoww pf-t-0">
  <div class="flex nav-left p-left-20">
    <p id="menu" class="d-display-none m-display-block f-size-10 m-b-0">
      <i class="bi bi-list"></i>
    </p>
    <ul id="ul" class="flex list-style-none p-left m-colum text-left m-nav m-b-0 m-auto">
      <h2 class="d-display-none m-display-block">OKEARN</h2>
      <li class="m-p-top-20 m-left-4"><a class="text-decorations-none p-x-6 text-orange-50 m-left-4" href="/"><i class="fas fa-home"></i>  Home</a></li>
      <li class="m-p-top-20 m-left-4"><a
        {% if request.path=='/blog/' %}class="text-decorations-none p-x-6 m-left-4 "
        {% else %}
        class="text-decorations-none p-x-6 text-orange-50 m-left-4 active"
        {% endif %}
        href="{{ url_for('home.user_login') }}"><i class="fas fa-sign-in-alt"></i>     Login</a></li>
      <li class="m-p-top-20 m-left-4"><a class="text-decorations-none p-x-6 text-orange-50 m-left-4" href="{{ url_for('home.user_register') }}">  <i class="fas fa-user-plus"></i>  Register</a></li>
    </ul>

  </div>
  <div class="nav-right p-right-20 flex t-center">
    <h2 class="m-b-0">OKERAN</h2>
  </div>

</nav>
<script src="{{ url_for('static',filename='js/nav.js')}}"></script>