{% extends 'base.html' %}
{% block title %}Verifiy Email {% endblock %}
{% block content %}
<div class="container my-5">
  <h3>Email Verification</h3>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3 my-4">
      <label for="exampleInputEmail1" class="form-label">{{ form.code.label }}</label>
      {{ form.code(class="form-control",placeholder="6-digit-code") }}
      {% if form.code.errors %}
      <ul >
        {% for error in form.code.errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
    <button class="btn btn-danger"type="submit">Verifiy</button>
</div>

</form>
{% endblock %}