{% extends 'base.html' %}
{% block content %}
{% include 'withoutloginheader.html' %}
<div class="container m-top-80">
  <h3 class="my-5">New Password</h3>
  <form method="POST"novalidate>
  <div class="border r-3 p-bottom-2 shadoww">
    <div class=" p-y-6 p-x-6 bg-slate-200 flex justify-center">
      <p>
        Enter your new password here
      </p>
    </div>
    <div class="flex justify-center">
      <input class="inpu"type="" name="pass" placeholder="Password"/>
    </div>
    <div class="flex justify-center">
      <button type="submit" class="btnn-normal">Save</button>
    </div>
  </div>
  
</form>
</div>
{% endblock %}