<div class="roww">
  {% for post in posts %}
  <div class="coll-10 shadoww my-8">
    <div class="flex t-center p-y-6 p-x-6 bg-slate-200">
      <img class="img-pic" src="/static/media/profile_pic/{{ current_user.image_file }}" alt="pic">
      <h3 class="mx-8 block m-b-0">{{ post.users.firstname }}
      {{ post.users.lastname }}
        <p class="text-sm text-gray-50 m-b-0">
          {{ post.post_created }} <i class="fas fa-globe-americas"></i>
        </p>
      </h3>
    </div>

    <h3 class="mx-8 my-8">{{ post.title }}</h3>
    <p class="text-gray-50  mx-8 my-8 ">
      {{ post.body }}
    </p>
    <button class="mx-8 btnn my-8">
      <a class="mx-8 text-decorations-none text-white" href="{{ url_for('blog.read_post',title=post.slug) }}">Learn  <i class="fas fa-arrow-circle-right"></i></a>
    </button>
  </div>
{% endfor %}
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>