<div class="roww flex m-top-80">

  <div class="coll-6 flex colum ">
    {% for post in posts %}
    <div class="my-8 shadoww r-3">
      <div class="flex t-center p-y-6 p-x-6 bg-slate-200">
        <img class="img-pic" src="static/media/profile_pic/{{ post.users.image_file }}" alt="pic">
        <h3 class="mx-8 block m-b-0">{{ post.users.firstname }}
          {{ post.users.lastname }}
          <p class="text-sm text-gray-50 m-b-0">
            {{ post.post_created }} <i class="fas fa-globe-americas"></i>
          </p>
        </h3>
      </div>

      <h3 class="mx-8 my-8">{{ post.title }}</h3>
      <p class="text-gray-50  mx-8 my-8 ">
        {{ post.body|truncate(400)}}
      </p>
      <button class="mx-8 btnn my-8">
        <a class="mx-8 text-decorations-none text-white" href="{{ url_for('blog.read_post',slug=post.slug) }}">Learn <i class="bi bi-arrow-right-circle-fill"></i></a>

      </button>
    </div>

    {% endfor %}
  </div>
  <div class="coll-4 m-coll-10 bg-slate-200 m-display-none  pf-t-10-r-0 border ">
    <div class="">
      <h3 class="bg-slate-100 p-y-6 p-x-6 text-white r-3">Popular Post</h3>
      {% for i in popularPost %}
      <p class="p-y-6 r-3 p-x-6 border my-8 bg-slate-200" >
        <a href="{{ url_for('blog.read_post',slug=i.slug) }}">{{ i.title }}</a>
      </p>
      
      {% endfor %}
    </div>

  </div>
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>