{% extends 'base.html' %}
{% block title %}Creat Post{% endblock %}
{% block content %}
{% include 'headers.html' %}
<div class="roww">
  <div class="coll-10-lg my-8 ">
    <div class="bg-slate-200 flex t-center p-x-6 p-y-6 space-around ">
      <div class="flex t-center">
        <img class="img-pic " src="pic.jpg" alt="">
        <h3 class="m-left-4">{{ posts.users.firstname }}
          {{ posts.users.lasttname }}
          <p class="text-sm text-gray-50 m-b-0">
            {{ posts.post_created.strftime('%Y-%m-%d') }}<i class="fas fa-globe-americas"></i>
          </p>
        </h3>
      </div>
      <div class="">
        <button class="btnn " onclick="fallow({{ posts.users.id }})">Fallowed<span id="fallowCount{{  posts.users.id }}"class="text-white">  {{ posts.users.fallowing | length}}</span></button>



        <!--<a href="{{ url_for('blog.fallow_user',user_id=posts.users.id )}}" class="text-decorations-none text-white">Fallowed
                  <span id="fallowCount"class="text-white">{{ posts.users.fallowing | length}}</span>
                </a>-->
      </div>
    </div>
    <div class="flex t-center ">
      <img class="thumbnails p-y-6 t-center m-auto" src="download.png" alt="">
    </div>
    <hr>
    <div class="flex-mobile flex space-around t-center">
      <div>
        <h3 class="p-y-6 p-x-6 witdh-50">{{ posts.title }}<p class="text-lg text-gray-50">
          <i class="far fa-eye"></i>12k views
        </p>
        </h3>
      </div>
      <div class="flex t-center">
        <p class="p-x-10 p-y-6">
          <span id="likeCount{{ posts.id }}">{{ posts.like|length}}</span>
          <i id="like"class="far fa-thumbs-up" onclick='like({{ posts.id }})'></i>like

        </p>

        <p class="p-x-10 p-y-6">
          <a class="text-decorations-none text-gray-50" href=""><i class="fas fa-share"></i>share</a>
        </p>

      </div>

    </div>
    <hr>
    <div class="mx-8">
      <p class="text-gray-50 p-y-6 ">
        {{ posts.body|safe }}
      </p>
    </div>
  </div>


  {% endblock %}
  {% block script %}
  <script src="{{ url_for('static', filename='js/blog/readpost.js')}}" type="text/javascript" charset="utf-8"></script>
  {% endblock %}