{% extends 'admin/adminbase.html' %}
{% block title %}Okearn Administrations Log in{% endblock %}
{% block content %}
{% include 'admin/adminheader.html' %}
<div class="roww flex">
  <div class="coll-6 ove-s">
    <div class="flex space-bet bg-slate-200 my-8 p-x-6 p-y-6 r-2">
      <div class="ove-s">


        <table class="table-c">
          <thead>
            <tr>
              {% for i in u %}
              <td>{{ i }}</td>
              {% endfor %}
                 <td>Update</td>
                <td>Delete</td>
            </tr>
          </thead>
          <tbody>
            {% for i in d %}
            <tr>
              {% for a in i %}
              <td>{{ a }}</td>

              {% endfor %}
              <td><button class="btnn"type="submit"><i class="bi bi-pen"></i></button></td>
              <td><button class="btnn"type="submit"><i class="bi bi-trash"></i></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="bg-slate-200 coll-4 ">
    <div class="bg-slate-100 text-white p-y-6 p-x-6 r-3">
      Recent Activity
    </div>
  </div>
</div>
{% endblock %}