{% extends 'admin/adminbase.html' %}
{% block title %}Okearn Administrations Log in{% endblock %}
{% block content %}
{% include 'admin/adminheader.html' %}
<div class="roww flex">
  <div class="coll-6 ove-s">
    <div class="flex space-bet bg-slate-200 my-8 p-x-6 p-y-6 r-2">
      <div class="ove-s">

        
        <table border="1">
          <thead>
            <tr>
              <td>id</td>
              <td>name</td>
              <td>email</td>
              <td>password</td>
              <td>role</td>
              <td></td>
              
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>1</td>
              <td>suraj</td>
              <td>s@gmail.cok</td>
              <td>626228177117</td>
              <td>2</td>
              <td>false</td>
                            <td>1</td>
              <td>suraj</td>
              <td>s@gmail.cok</td>
              <td>626228177117</td>
              <td>2</td>
              <td>false</td>
            </tr>
            <tr>
              <td>2</td>
              <td>suraj</td>
              <td>s@gmail.cok</td>
            </tr>
            <tr>
              <td>3</td>
              <td>akash</td>
              <td>a@gmail.cok</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="bg-slate-200 coll-4 ">
    <div class="bg-slate-100 text-white p-y-6 p-x-6 r-3">
      Recent Activity
    </div>
  </div>
</div>
{% endblock %}