<div class="coll-10-lg border bg-slate-50 text-white flex space-bet p-y-6 ">
  <div class="f-bold">
    Okearn Administraion
  </div>
  <div class="">
    <ul class="flex list-style-none">
      <li><a class="p-x-6 text-decorations-none text-white"href="#">ADMIN</a></li>
      <li><a class="p-x-6 text-white text-decorations-none" href="">Change Password</a></li>
      <li><a class="p-x-6 text-white text-decorations-none" href="{{ url_for('admin.admin_logout')}}">Logout</a></li>
    </ul>
  </div>
</div>